<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon data</title>
</head>
<body>
<style>
    body{
        display: flex; 
        flex-wrap: wrap;
        align-content: center;
        background-color: rgb(249, 132, 108);
    }
    h1 {
        display: flex;
        flex-wrap: wrap;
        
    }
</style>
   
    <h1> PokeDex </h1>
    <nav>
        <a href="/pokemon/new">Create a New Pokemon</a>
      </nav>
    <ul>
        <% for (let i = 0; i < data.length; i++) { %>  
          <li>
              <a href="/pokemon/<%= i %>">
              <%= data[i].name %>
              </a>
             <img src="<%= data[i].img %>"">

             <form action="/pokemon/<%=i; %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" />
              </form>
          </li> 
          
      
      
      <% } %>
      </ul>
    
</body>
</html>